﻿@{
    //ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Search Username","Search","Users")
    <br />
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Category</th>
        </tr>
        @foreach (var p in ViewBag.resuft)
        {
            <tr>
                <td>@p.Username</td>
                <td>@p.Password</td>
                <td>@p.Category</td>
            </tr>
        }
    </table>
</body>
</html>
