﻿@{
    //ViewBag.Title = "Search";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    @using (Html.BeginForm("Search", "Users"))
    {
        <span>Username</span> <input type ="text" name="Username" /> <input type="submit" value="Search" />
        if(ViewBag.result != null)
        {
            <br />
            <span>Username: @ViewBag.resuft.Username</span>
            <br />
            <span>Password: @ViewBag.resuft.Password</span>
            <br />
            <span>Category: @ViewBag.resuft.Category</span>
        }
    }

</body>
</html>
